.playing {
    width: 900px;
    height: 50px;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 13px;
    display: flex;
    margin-top: 10px;
    margin: 10px 502px;
    margin-bottom: 30px;
    padding: 35px 10px;
    
}