.main{
    margin: 12px 12px 0px;
    width: 775px;
    background-color: #F1F1F1;
    padding: 9px 16px;
    font-size: 24px;
    border-radius: 10px;
    border: 0;
    height: 70px;
    margin-top: 17px;
}

.naming{
    display: flex;
    align-items: center;
    gap: 12px;
}

.reaction{
    display: flex;
    align-items: center;
    gap: 15px;
}