.search {
    width: 900px;
    height: 50px;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 13px;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    margin: 10px 502px;
}

.search::placeholder {
    font-size: 20px;
    
}